/* ===========================
   GOOGLE FONT & RESET
=========================== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family:'Poppins',sans-serif;
    background:#0B1120;
    color:#ffffff;
    overflow-x:hidden;
}
section{
    scroll-margin-top:100px;
}

/* ===========================
BACKGROUND
=========================== */
body::before{
content:"";
position:fixed;
width:700px;
height:700px;
background:#4F46E5;
filter:blur(220px);
top:-250px;
right:-150px;
opacity:.15;
z-index:-1;
}
body::after{
content:"";
position:fixed;
width:600px;
height:600px;
background:#06B6D4;
filter:blur(220px);
bottom:-250px;
left:-150px;
opacity:.12;
z-index:-1;
}
