/* ===========================
   GOOGLE FONT & RESET
=========================== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family:'Poppins',sans-serif;
    color:#ffffff;
    overflow-x:hidden;
    background:
        url("../assets/images/background.webp");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    color:var(--text);
}

section{
    scroll-margin-top:100px;
}
