@media(max-width:1000px){

.hero{

grid-template-columns:1fr;

text-align:center;

}

.hero-right{

margin-top:40px;

}

.buttons{

justify-content:center;

}

nav{

flex-direction:column;

gap:20px;

}

nav ul{

flex-wrap:wrap;

justify-content:center;

}

.hero h1{

font-size:52px;

}

.hero h2{

font-size:28px;

}

}

@media(max-width:650px){

.hero-right{

grid-template-columns:1fr;

}

.hero h1{

font-size:42px;

}

.hero{

padding-top:180px;

}

.buttons{

flex-direction:column;

}

.btn,.btn-outline{

width:100%;

text-align:center;

}

}
.about-container{

grid-template-columns:1fr;

text-align:center;

}

.timeline-item{

text-align:left;

}
.services-grid{

grid-template-columns:1fr;

}
.impact-grid{

grid-template-columns:repeat(2,1fr);

}

@media(max-width:650px){

.impact-grid{

grid-template-columns:1fr;

}

}
.project-grid{

grid-template-columns:1fr;

}